.panel-body {
    color: #515656;
}

.panel-body a {
    color: #0043ff;
}



.feature-box {
    padding-top: 7%;
    padding-bottom: 6%;
    padding-left: 10%;
    padding-right: 10%;
}
.padding-10 {
    padding: 10px;
}

.padding-15 {
    padding: 15px;
}

.padding-20 {
    padding: 20px;
}

.page-title h2{
    font-size: 2.5em;
}