{% load staticfiles %}
{% load static %}


<!doctype html>
<html class="no-js" lang="ja">

<head>
    <!-- Google webmaster -->
    <meta name="google-site-verification" content="AQ6BzHVFJhbbbT16yHl3oJy2nweyIbLRnow5Bf6qAzk"/>

    <meta charset="utf-8">
    <meta name="description" content="Paypalステップメール送信システムFolopel（フォロペル）既存顧客のフォローは何にも増して大切！離脱率低下、追加商品の購入に最適です。">
    <meta name="keywords" content="PayPal,ペイパル,ステップメール,メーリングリスト">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- Favicon.icon -->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'images/favicon.ico/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'images/favicon.ico/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/favicon.ico/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'images/favicon.ico/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/favicon.ico/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/favicon.ico/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'images/favicon.ico/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'images/favicon.ico/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon.ico/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'images/favicon.ico/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon.ico/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'images/favicon.ico/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon.ico/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/favicon.ico/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    {% block title %}
        <!-- Title -->
        <title>Folopel(フォロペル)</title>
    {% endblock %}


    <!-- Place favicon.ico in the root directory -->
    <link rel="apple-touch-icon" href={% static "images/apple-touch-icon.png" %}>
    <link rel="shortcut icon" type="image/ico" href={% static "images/favicon.ico" %}/>
    <!-- Plugin-CSS -->
    <link rel="stylesheet" href={% static "css/bootstrap.min.css" %}>
    <link rel="stylesheet" href={% static "css/owl.carousel.min.css" %}>
    <link rel="stylesheet" href={% static "css/themify-icons.css" %}>
    <link rel="stylesheet" href={% static "css/magnific-popup.css" %}>
    <link rel="stylesheet" href={% static "css/animate.css" %}>
    <!-- Main-Stylesheets -->
    <link rel="stylesheet" href={% static "css/normalize.css" %}>
    <link rel="stylesheet" href={% static "style.css" %}>
    <link rel="stylesheet" href={% static "css/responsive.css" %}>
    <link rel="stylesheet" href={% static "css/custom.css" %}>
    <script src="{% static 'js/vendor/modernizr-2.8.3.min.js' %}"></script>

    <!--[if lt IE 9]>
        <script src="{% static '//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js' %}"></script>
        <script src="{% static '//oss.maxcdn.com/respond/1.4.2/respond.min.js' %}"></script>
    <![endif]-->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111769414-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-111769414-3');
    </script>

</head>

<body data-spy="scroll" data-target="#primary-menu">

<div class="preloader">
    <div class="sk-folding-cube">
        <div class="sk-cube1 sk-cube"></div>
        <div class="sk-cube2 sk-cube"></div>
        <div class="sk-cube4 sk-cube"></div>
        <div class="sk-cube3 sk-cube"></div>
    </div>
</div>
<!--Mainmenu-area-->
<div class="mainmenu-area" data-spy="affix" data-offset-top="100">
    <div class="container">
        <!--Logo-->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#primary-menu">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{% url 'folopel:home' %}" class="navbar-brand logo">
                <h2>Folopel</h2>
            </a>
        </div>
        <!--Logo/-->
        <nav class="collapse navbar-collapse" id="primary-menu">
            <ul class="nav navbar-nav navbar-right">


                <!--If user is login-->
                {% if user.is_authenticated %}
                    <li><a href="{% url 'folopel:how_to' %}">使い方</a></li>
                    <li><a href="{% url 'folopel:mailing_list' %}">メーリングリスト</a></li>
                    <li><a href="{% url 'folopel:service_list' %}">サービス</a></li>
                    {#                    <li><a href="{% url 'folopel:template_list'%}">テンプレート</a></li>#}
                    <li><a href="{% url 'folopel:mail' %}">送信履歴</a></li>
                    <li><a href="{% url 'folopel:setting' user.id %}">初期設定</a></li>
                    <li><a href="{% url 'folopel:logout' %}">ログアウト</a></li>
                {% else %}
                    <li class="active"><a href="{% url 'folopel:home' %}">ホーム</a></li>
                    <li><a href="#service-page">サービス</a></li>
                    <li><a href="#feature-page">特徴</a></li>
                    <li><a href="#price-page">価格</a></li>
                    <li><a href="#faq-page">FAQ</a></li>
                    <li><a href="#contact-page">問い合わせ</a></li>
                    <li><a href="{% url 'folopel:signup' %}">無料登録</a></li>
                    <li class="btn-cta"><a href="{% url 'folopel:login' %}"><span>ログイン</span></a></li>
                {% endif %}

            </ul>
        </nav>
    </div>
</div>
<!--Mainmenu-area/-->



{% block content %}


{% endblock %}



<footer class="footer-area relative sky-bg" id="contact-page">

    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 pull-right">
                    <ul class="social-menu text-right x-left">
                        <li><a href="#"><i class="ti-facebook"></i></a></li>
                        <li><a href="#"><i class="ti-twitter"></i></a></li>
                        <li><a href="#"><i class="ti-google"></i></a></li>
                        <li><a href="#"><i class="ti-linkedin"></i></a></li>
                        <li><a href="#"><i class="ti-github"></i></a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6">
                    {#                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id corrupti architecto consequuntur,#}
                    {#                        laborum quaerat sed nemo temporibus unde, beatae vel.</p>#}
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <p>&copy;Copyright 2018 All right resurved. <i class="ti-heart"
                                                                   aria-hidden="true"></i> by
                        <a href="https://folopel.com">Folopel</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>


<!--Vendor-JS-->
<script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
<!--Plugin-JS-->
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/contact-form.js' %}"></script>
<script src="{% static 'js/jquery.parallax-1.1.3.js' %}"></script>
<script src="{% static 'js/scrollUp.min.js' %}"></script>
<script src="{% static 'js/magnific-popup.min.js' %}"></script>
<script src="{% static 'js/wow.min.js' %}"></script>
<!--Main-active-JS-->
<script src="{% static 'js/main.js' %}"></script>
</body>

</html>
