{% extends 'base.html' %}
%}
{% load staticfiles %}
{% load static %}

{% block content %}


    <section class="angle-bg sky-bg section-padding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3>本当に削除しますか？</h3>
                        </div>
                        <div class="panel-body">
                            <form method="post">
                                {% csrf_token %}
                                <p>{{ object }}</p>
                                <input class="btn btn-info"type="button" value="戻る" onClick="javascript:history.go(-1);">
                                <input class="btn btn-danger" type="submit" value="削除" />

                            </form>

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
