{% extends 'base.html' %}
%}
{% load staticfiles %}
{% load static %}


{% block title %}
    <!-- Title -->
    <title>使い方</title>
{% endblock %}

{% block content %}


    <section class="angle-bg sky-bg section-padding">
        <div class="container">

            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <!--<img src="{% static 'images/how_to/amazon_thanks_mail_mailzon_how_to_use-5.png'%}"  class="img-responsive"-->
                    <!--alt="Amazonサンクスメール初期設定 Mailzon">-->

                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1>Folopel(フォロペル)の初期設定方法・使い方</h1>

                        </div>
                        <div class="panel-body">

                            <h2>Folopelの設定手順</h2>

                            <p>
                                FolopelはPayPalから届くメールをFolopel.info@gmail.comに転送することで、Folopelが日々の顧客の契約状況を監視し、ステップメールの送信を行います。ここではメールの転送設定からステップメールの作成までの手順を簡単に説明していきます。
                            </p>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    1.PayPalのメールをFolopelに転送する
                                </li>
                                <li class="list-group-item">
                                    2.メール送信用サーバーを設定する
                                </li>
                                <li class="list-group-item">
                                    3.サービスを登録してメーリングリストを作成する
                                </li>
                            </ul>
                            <p>時間にしておよそ５分程度で完了します。それでは順番に進めていきましょう。</p>
                        </div>

                    </div>

                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3>1.PayPalのメールをFolopelに転送する</h3>

                        </div>
                        <div class="panel-body">
                            <p>
                                ここではGmailを例に説明していきます。その他のメールをご利用の方はご利用のサービスの転送方法をご確認ください。
                            </p>
                            <p>
                                まずはこちら<a href="https://mail.google.com/mail/u/0/#settings/fwdandpop">Gmail転送設定</a>のページにアクセスします。
                            </p>
                            <p>
                                ※
                                この時、PayPalからのメールを受信しているアカウントになっているか確認してください。異なるアカウントの場合はアイコンをクリックして、PayPalのメールを受信しているアカウントにメールアドレスを変更してください。
                            </p>
                            <p>
                                「転送先アドレスを追加」をクリクします。
                            </p>
                            <p>
                                出てきた画面に「folopel.info@gmail.com」と入力して「次へ」をクリックします。「続行」をクリックすると「folopel.info@gmail.com」宛に確認コードが送信されます。
                            </p>
                            <p>
                                <a href="https://mail.google.com/mail/u/0/#inbox">受信トレイ</a>に戻ります。「folopel.info@gmail.com」から確認コードが転送されているのが確認できます。見つからない場合は「迷惑メールフォルダ」を確認してください。
                            </p>

                            <a href="{% url 'folopel:signup' %}">
                                <img src="{% static 'images/how_to/amazon_thanks_mail_mailzon_how_to_use-1.png' %}"
                                     class="img-responsive thumbnail"
                                     alt="Amazonサンクスメール登録 Folopel">
                            </a>
                            <p>登録ができたら<a href="{% url 'folopel:login' %}">ログイン</a>します。先程入力したメールアドレスとパスワードでログインをします。初期設定の画面が表示されたらログイン成功です！
                            </p>
                            <a href="{% url 'folopel:login' %}">
                                <img src="{% static 'images/how_to/amazon_thanks_mail_mailzon_how_to_use-4.png' %}"
                                     class="img-responsive thumbnail"
                                     alt="Amazonサンクスメールログイン Folopel">
                            </a>
                        </div>

                    </div>


                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3>2.メール送信用サーバーを設定する</h3>
                            <p>
                        </div>
                        <div class="panel-body">
                            <p>
                                ここではステップメール送信用サーバーの設定を行います。設定はFolopelに画面右上の「初期設定」をクリックしてください。
                            </p>
                            <img src="{% static 'images/how_to/amazon_thanks_mail_mailzon_how_to_use-16.png' %}"
                                 class="img-responsive-max-width-600 thumbnail"
                                 alt="Amazonサンクスメール初期設定 Folopel">
                            <ul>
                                <li><strong>ユーザー名</strong> : メール送信用テンプレートに％ユーザー％と書くとここに入力した名前が表示されます。</li>
                                <li><strong>メールアドレス</strong> : Folopelをご利用のメールアドレスです。</li>
                                <li><strong>PayPalアドレス</strong> : PayPalからメールを転送を行うアドレスを入力してください。</li>
                                <li><strong>送信用メールアドレス</strong> : ステップメールの送信に使用するアドレスです。</li>
                                <li><strong>送信用メールパスワード</strong> : 送信用メールアドレスのパスワードです。</li>
                                <li><strong>SMTPホスト名/送信用サーバー名</strong> : メールを管理しているサーバーのアドレスを入力します。</li>
                                <li><strong>SSL/TSL</strong> : サーバー接続時に暗号化を行うか否かを設定します。</li>
                                <li><strong>ポート</strong> : サーバー接続を行うポート番号です。</li>
                            </ul>
                            <p>
                                登録時のアドレスが、「メールアドレス・PayPalアドレス・送信用メールアドレス」の3箇所に入力されています。<br>
                                PayPalアドレスがPayPalのメール転送元アドレスと異なる場合は変更してください。<br>
                                また、送信用メールアドレスも他のアドレスを使用する場合は変更してください。

                            </p>
                            <hr>
                            <h4>送信メール設定</h4>
                            <p>FolopelではGmail・Yahoo!メール・独自ドメインのメールサーバーをご利用いただけます。</p>
                            <img src="{% static 'images/how_to/google-yahoo-logo.jpg' %}"
                                 class="img-responsive"
                                 alt="AmazonサンクスメールGoogle-yahoo Folopel">
                            <p>
                                GmailとYahoo!メールを利用する場合は「送信用メールアドレス」と「送信用メールパスワード」を入力してください。ご利用のメールアドレスにからメールを送信するために利用します。その他のサーバー・TSL・ポート番号はFolopelが自動で設定不要です。<br>※入力されていても設定は無視されます。
                            </p>
                            <p>Gmail・Yahoo!メールを新たに作成される方はこちらから作成いただけます。<a
                                    href="https://accounts.google.com/SignUp?hl=ja">Gmailを作成</a>
                                ・<a href="https://account.edit.yahoo.co.jp/registration?.intl=jp&.done=https%3a//mail.yahoo.co.jp&.src=ym">Yahooメールを作成</a>
                            </p>
                            <img src="{% static 'images/how_to/com.jpg' %}"
                                 class="img-responsive"
                                 alt="Amazonサンクスメール独自ドメイン Folopel">
                            <p>
                            <p>

                                独自ドメインのメールアドレスをご利用頂く場合はメールサーバーの設定方法をホームページよりご確認ください。<br>「ご利用のサーバー名　メール設定」などで検索すると「SMTPホスト・SSLまたはTSL・ポート」の設定方法を見つけることができます。
                            </p>
                            <p><strong>メール設定検索キーワード 例：</strong>
                            <ul>
                                <li>エックスサーバー　メール設定</li>
                                <li>さくらレンタルサーバー　メール設定</li>
                                <li>ロリポップ　メール設定</li>
                            </ul>
                            </p>

                            <p>設定ができれば最後に「保存」ボタンをクリクして、初期設定完了です！</p>


                            <p>※ 「保存」を押し忘れると今設定した内容が全て消えてしまうので、必ず「保存」をクリックしてください。</p>
                            <p>※　独自ドメインのアドレスでもメールの送信を行えますが、設定が少し難しいので設定が簡単なGmailやYahooMailを利用されることをおすすめします。</p>

                            <img src="{% static 'images/how_to/amazon_thanks_mail_mailzon_how_to_use-17.png' %}"
                                 class="img-responsive-max-width-600 thumbnail"
                                 alt="Amazonサンクスメール設定 Folopel">

                        </div>

                    </div>


                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3>メール送信テスト</h3>
                        </div>
                        <div class="panel-body">
                            <p>今設定を行ったメールアドレスでメールの送信ができるかを確認してみましょう。<br>
                                確認するには「初期設定」画面下の「送信」ボタンをクリックします。</p>
                            <p>送信用メールアドレスからご登録のメールアドレス宛にメールが送信されます。</p>

                            <img src="{% static 'images/how_to/amazon_thanks_mail_mailzon_how_to_use-6.png' %}"
                                 class="img-responsive thumbnail"
                                 alt="Amazonサンクスメール送信テスト1 Folopel">

                            <p>※重要：Gmailの場合は「<a href="https://myaccount.google.com/intro/security?hl=ja">ログインとセキュリティ</a>」の一番下にある「安全性の低いアプリの許可:
                                無効 」を有効にしてください。</p>
                            <img src="{% static 'images/how_to/amazon_thanks_mail_mailzon_how_to_use-7.png' %}"
                                 class="img-responsive thumbnail"
                                 alt="Amazonサンクスメール送信テスト2 Folopel">
                            <hr>
                            <h3>メールが届かない場合は？</h3>
                            <p>
                                Gmailの場合初めて利用するPCやアプリからのログインがブロックされます。「不正なログインがブロックされました」というメールが届いているので、ブロックを解除してください。先程の「<a
                                    href="https://myaccount.google.com/intro/security?hl=ja">ログインとセキュリティ</a>」の下の方にある「最近使用した端末」から確認できます。ここで「はい、心当たりがあります」を選択します。

                                <img src="{% static 'images/how_to/amazon_thanks_mail_mailzon_how_to_use-8.png' %}"
                                     class="img-responsive thumbnail"
                                     alt="Amazonサンクスメール送信テスト2 Folopel">
                            <p>
                                ※ 複数のGmailアカウントにログインしている場合は別のアカウントの画面が表示されている場合あります。現在ログインしているアカウントがメール送信用のアカウントになっているかご確認ください。
                            </p>
                        </div>
                    </div>


                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3>メーリングリストを作成する</h3>
                        </div>
                        <div class="panel-body">
                            <p>
                                画面上部のメニューの「メーリングリスト」から「新規作成」でメーリングリストを作成できます。メーリングリスト名を入力します。
                            </p>
                            <p>
                                初期設定では配信は「無効」になっているので配信を始めるときは「有効」にしてください。
                            </p>
                            <p>
                                送信除外IDは配信を除外したい顧客の「自動請求ID・個人設定ID」をスペースで区切って入力できます。<br>
                                例：「I-4DW8G19PVGJ0　I-FX7N5W8SPA0L」
                            </p>
                            <p>
                                設定が終わったら「保存」をクリックします。
                            </p>
                            <h4>テンプレートの作成</h4>
                            <p>
                                メーリングリスト一覧からメーリングリスト名をクリックすると登録されているテンプレート一覧が表示されます。
                            </p>
                            <p>
                                今は何もないのでテンプレートを作成します。「新規作成」をクリックします。
                            </p>
                            <p>
                                件名・本文・送信日時などを入力していきます。件名と本文中で自動変換が使えます。自動変換タグを使うことでテンプレートに顧客の名前などを入れることができます。最後に「保存」をクリックすればテンプレートの作成は完了です。
                            </p>
                            <p>
                                テンプレートは日時をずらしていくつでも作成可能です。
                            </p>
                            <p>
                                決済エラーや解約があった時に自動でメールを送信する<strong>特殊メール設定</strong>もぜひご活用ください。解約理由を尋ねたり、決済エラー時の対応方法などを自動化することで日々の作業を大幅に短縮できます。
                            </p>


                            <h4>メーリングリストとサービスを連動させる</h4>

                            <p>
                                メーリングリストを作成しましたが、このままではメールは送信されません。なぜならメーリングリストがサービスに紐付いていないからです。
                            </p>
                            <p>
                                画面上部のメニューの「サービス」をクリックしてください。あなたが販売しているPayPalの商品名を確認できます。登録した直後は何も表示されず、PayPalからのメールが転送されると表示され始めます。

                            </p>
                            <p>
                                直ぐに利用を始めるにはサービスの一覧画面の「新規作成」ボタンをクリックしPayPalの商品名を入力します。
                            </p>
                            <p>
                                そして、「メーリングリスト」から送信したいメーリングリストを選択します。最後に「保存」をクリックすれば完了です。
                            </p>
                            <p>
                                あとはFolopelが顧客の契約状況に合わせて自動でメールを送信し始めます。
                            </p>
                            <p>
                                メーリングリストの中身を充実させて顧客の離脱率の減少や追加で商品を購入してもらえるようにテンプレートを作り込んでいきましょう。
                            </p>
                            <p>
                                使い方などで質問がございましたらfolopel.info@gmail.comまでお問い合わせください。全てのメールに返信はできかねますが可能な限り返信させていただきます。
                            </p>
                            <p>
                                今後ともどうぞFolopelをよろしくお願い致します。
                            </p>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

{% endblock %}
