{% extends 'base.html' %}
%}
{% load staticfiles %}
{% load static %}

{% block content %}


<div id="lp-header" style="background-image:url({% static 'images/lp/free-monitor.jpg'%});" class="top-image">
    <div class="container">
        <div class="row">
            <div class="features">
                <div class="col-half animate-box" data-animate-effect="fadeInLeft">
                    <div class="table-c">
                        <div class="desc">
                            <h2 class="text-white">無料モニター募集</h2>
                            <p class="text-white">0円で全てのメール機能を実感。<br>
                                メール送信し放題！維持手数料必要なし！<br>
                                テストモニターなら初期費用月額費用など全て必要なし！<br>
                                テスト期間が終了するまでは費用は一切発生しないお得なキャンペーン！<br>
                                テストモニター終了前には便利なお知らせ機能も。<br>
                                完全無料でテストモニターに応募しよう！<br>
                                テストモニター募集期間：2018年4月1日 ~ 2018年6月30日
                            <p class="text-white">
                                <button type="submit" class="btn btn-default"><span class="text-white">無料モニター登録</span>
                                </button>
                            </p>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="fh5co-core-feature">
    <!--<img src="{% static 'images/lp/free-monitor.jpg'%}" style="width:100%;">-->

    <div class="container">

        <div class="row fh5co-heading">
            <h1>Mailzon<p class="small">Mailzon(メルゾン)はAmazonで商品を購入してくれたお客様にサンクスメールを自動で送信するツール（サービス）です。
            </p>
            </h1>
        </div>

    </div>
</div>&nbsp;


<div id="fh5co-core-feature-1">
    <div class="container">
        <div class="row">
            <div class="features">
                <div class="col-half animate-box" data-animate-effect="fadeInLeft">
                    <div class="table-c">
                        <div class="desc">
                            <span>What is "Thanks Mail"?</span>
                            <h2>サンクスメールってなに？<br>どんな効果があるの？</h2>
                            <p>Amazonで商品を購入した後にショップからサンクスメールやフォローメール（評価・商品レビュー依頼メール）が届いたことはありませんか？
                            </p>
                            <p>Mailzonを使えばこのサンクスメールを毎日自動で送信することができます。</p>
                            <!--<p><a href="#" class="btn btn-lg btn-primary">Learn More</a></p>-->
                        </div>
                    </div>
                </div>
                <div class="col-half-image-holder animate-box" data-animate-effect="fadeInRight">
                    <img class="img-responsive" src="{% static 'images/lp/phone.png'%}" alt="samsung">
                </div>
            </div>
        </div>
    </div>
</div>

&nbsp;


&nbsp;
<div id="fh5co-services" class="fh5co-bg-section">
    <div class="container">

        <h2>サンクスメールの３つの効果</h2>


        <div class="row">
            <div class="col-md-12 col-sm-12 fh5co-heading">
                <p>そもそもサンクスメール（フォローメール）を送ることに何の意味があるの？と思われる方も多いはずです。<br>

                    サンクスメールの効果を体験したことのない方は誰でも同じような疑問を持つはずです。<br>

                    しかし、サンクスメールにはとても重要な３つの効果があります。ここではその３つの効果をご紹介します。</p></div>
            <div class="col-md-4 col-sm-4 text-center ">

                <div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="glyphicon glyphicon-shopping-cart"></i>
						</span>
                    <h3>1.カート獲得率アップ</h3>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 text-center">
                <div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="glyphicon glyphicon-search"></i>
						</span>
                    <h3>2.Amazon掲載順位アップ</h3>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 text-center">
                <div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="glyphicon glyphicon-star-empty"></i>
						</span>
                    <h3>3.低評価が付きづらくなる</h3>
                </div>
            </div>
        </div>

        <!-- Media top -->
        <div class="media">

            <div class="feature-center animate-box" data-animate-effect="fadeIn">

                <h3>1.カート獲得率アップ</h3>

                <div class="col-md-1 col-sm-1">

                    <span class="icon">
                        <i class="glyphicon glyphicon-shopping-cart"></i>
                    </span>
                </div>
                <div class="col-md-11 col-sm-11">

                    <p>Amazonで商品を購入する人の９８%はカートから商品を購入すると言われています。<br>

                        カートというのはAmazonの画面右側にあるこちらのボタンのことです。<br>

                        出品者が多数いる場合、出品者としての評価が十分に溜まっていない場合はカートを獲得することができません。<br>
                    </p>
                    <p>
                        そこで、登場するのがサンクスメールです。通常であれば１００件〜２００件に１回評価がつきます。確率にすると0.5%〜１%の確率で評価されます。<br>

                        しかし、サンクスメールでレビュー依頼をすることにより１００件で約２〜５件の評価がつくようになります！確率にすると２%〜５%で評価されるようになります。<br>
                    </p>
                    <p>つまり、２倍〜１０倍レビューが付きやくなるということです。<br>

                        こうしてレビューを増やすことでライバルの販売者よりカートを獲得できる確率を上げることができます。</p>
                </div>
            </div>
        </div>

        <!-- Media middle -->
        <div class="media">
            <div class="feature-center animate-box" data-animate-effect="fadeIn">

                <h3>2.Amazon掲載順位アップ</h3>
                <div class="col-md-1 col-sm-1">

                <span class="icon">
							<i class="glyphicon glyphicon-search"></i>
                    </span>
                </div>
                <div class="col-md-11 col-sm-11">

                    <p>レビューを増やして得するのは何もカート確率だけではありません。<br>

                        相乗りではなく、自分で出品した商品なら商品のレビューが増えることで、Amazonの検索で自分の商品が掲載される順位がアップします。<br>
                        掲載順位がアップするともちろんお客さん見られる確率もアップするので受注数がアップします。<br>
                    </p>
                    <p>
                        どれくらい変わるのかと言うと商品によっては掲載順位が１つ上がるだけで月間数十万円の売上が変わることさえあります。<br>
                        一般的な商品でも月間数千円から数万円売り上げが変わります。<br>
                    </p>
                    <p>
                        相乗りだから商品の順位が上がっても自分には関係ない。と思っている方もいるかも知れませんが、相乗りでも商品の順位が上がり商品自体の売上（シェア）がアップすると自分から商品が購入される確率ももちろんアップします！<br>

                        つまり、商品レビューが増えることは自社商品でも相乗りでも売上アップに繋がる大切なことです！</p>
                </div>
            </div>

        </div>

        <!-- Media bottom -->
        <div class="media">
            <div class="feature-center animate-box" data-animate-effect="fadeIn">

                <h3>3.低評価が付きづらくなる</h3>
                <div class="col-md-1 col-sm-1">

                <span class="icon">
							<i class="glyphicon glyphicon-star-empty"></i>
                    </span>
                </div>
                <div class="col-md-11 col-sm-11">

                    <p>
                        ここまでは良いレビューを増やすための「攻め」の効果をご紹介しました。<br>
                        もちろん、いいレビューが与える影響はもちろん大きいですが、それ以上に絶大な影響力を持っているのは「低評価（悪いレビュー）」です。</p>
                    <p>
                        あなたが買い物をする時もいいレビューがたくさんついていても悪いレビューがついてるとどんな内容かが気になりますよね？<br>
                        そこで商品に対する不満が書かれているとその商品の購入をためらってしまいます。<br>
                        また、Amazonのアルゴリズムも低評価を非常に重く判定するようになっているので１つでも低評価や、悪いレビューが商品や出品者につくことで掲載順位やカート獲得率が激減します！！
                        こうなってしまうと確実に売上に大打撃を与えます。
                    <p/>
                    <p>
                        サンクスメール（ここの場合はフォローメール）を出すとこでお客さんが低評価をつける前に問い合わせを促し、事前に問題を解決することで低評価がつくのを防げます。<br>
                        これがサンクスメールの「守り」の効果です。</p>
                </div>
            </div>

        </div>


    </div>
</div>

<div id="fh5co-core-feature">
    <div class="container">
        <h2>Mailzonの機能</h2>


        <div class="about-content">
            <div class="row animate-box">
                <div class="col-md-8 col-md-push-4">
                    <div class="desc">
                        <h3>テンプレートを使ったメール送信</h3>
                        <p>サンクスメールやフォローメールって何を書けばいいの？<br>

                            メールの文章作成が面倒…　と思っていられる方も多いはずです。</p>

                        <p>通常サンクスメール配信サービスでは自分でサンクスメールの内容を考えなくてはなりません。<br>

                            FBAと自家発想でそれぞれ2通ずつ用意すると合計4通のメールの文章を考えなくてはいけません。</p>

                        <p>しっかりした内容を書くなら他の人の文章を参考にしたり、自分でアレンジを加えたりしているとこれだけでも1時間〜3時間ほどかかってしまいます。</p>

                        <p>そんなの面倒くさくてやってられない(；´Д｀)<br>

                            と感じるのはみんな同じです。</p>

                        <p>
                            そこで、Mailzonでは事前にお客様から反応を得やすいテンプレートを実験・検証を重ね、Mailzonをご利用いただく方には初めからこのテンプレートを使ってメールを送信していただけるようにしました！</p>

                        <p>つまり、メールの文章を考えるという<strong>一番時間を取られる作業を<span style="color: #ff0000;">カット!</span></strong>できるということです。こんなに便利な機能はMailzonだけ！！
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-md-pull-8">
                    <i class="glyphicon glyphicon-check img-responsive"
                       style="text-align:center;font-size: 250px;"alt="テンプレートを使ったメール送信"></i>
                </div>

            </div>
        </div>

        <div class="about-content">
            <div class="row animate-box">
                <div class="col-md-8 col-md-push-4">
                    <div class="desc">
                        <h3>置換機能で手書きのような内容を自動作成</h3>
                        <p>予め決められたキーワードをテンプレート内に書くことで</p>
                        <p>[お客様の名前、購入された商品、個数、価格、ASIN、レビューURL] などを注文ごとにツールが自動で内容を書き換えます。</p>

                        <p>なので１つのテンプレートをどのお客様にもご利用いただけます。</p>
                        <p>もちろん初期テンプレートには上記のキーワードが使われているので何もしなくてもお客様の名前や商品名は綺麗に置き換えられて自動でメールの文章が作成されます。</p>
                    </div>
                </div>
                <div class="col-md-4 col-md-pull-8">
                    <img class="img-responsive" src="{% static 'images/lp/handpencil-2.png'%}" alt="置換機能で手書きのような内容を自動作成">
                </div>

            </div>
        </div>


        <div class="about-content">
            <div class="row animate-box">
                <div class="col-md-8 col-md-push-4">
                    <div class="desc">
                        <h3>自動配信機能</h3>
                        <p>お客様から反応の得やすい時間帯をツールが選んで定期的にメールを配信してくれます。</p>

                        <p>
                            本来なら自分で時間を作って送信しないといけなかったり、送信したい時間になにか他のことをしているとタイミングを逃してしまうということがありますが、Mailzonを使っていればそんな心配は一切ありません。</p>

                        <p>いつどこであなたが何をしていてもMailzonは24時間365日あなたの代わりに働いてくれます。</p>
                    </div>
                </div>
                <div class="col-md-4 col-md-pull-8">
                    <img class="img-responsive" src="{% static 'images/lp/timer.jpg'%}" alt="自動配信機能">
                </div>

            </div>
        </div>


        <div class="about-content">
            <div class="row animate-box">
                <div class="col-md-8 col-md-push-4">
                    <div class="desc">
                        <h3>安心のクラウドサービス</h3>
                        <p>
                            自分のパソコンにインストールするタイプだと間違ってアプリを終了してそのままにしてしまうことや、持ち運びするパソコンにインストールしていると移動中はツールが停止するのでメールが送信できないという問題があります。</p>

                        <p>サンクスメール専用PCを用意する人もいますがこれはコストがかかるし、」</p>
                        <p>「気がついたらパソコンが<span style="color: #ff0000;"><strong>スリープ</strong></span>していた(ﾟдﾟ)！なんてこともよくあります。」<br>
                        <p>「なんのためにわざわざPCを購入したんだ！！」って何ますよね。</p>

                        <p>しかし、Mailzonはクラウドで動いているため24時間休むこと無く働き続けます。</p>

                        <p>アプリが終了したり、勝手にスリープしてメールの送信ができないということは一切ないので<span
                                style="color: #ff0000;"><strong>安心</strong></span>してご利用いただけます。
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-md-pull-8">
                    <img class="img-responsive" src="{% static 'images/lp/clowd.jpg'%}" alt="安心のクラウドサービス">
                </div>

            </div>
        </div>


        <div class="about-content">
            <div class="row animate-box">
                <div class="col-md-8 col-md-push-4">
                    <div class="desc">
                        <h3>最大３つのメールを送信可能</h3>


                        <p>１．注文完了　自家発送をする場合はまず注文完了メッセージが送信されます。<br>

                            ２．商品発送　自家発送とFBAで商品発送が確認された時にメールが送信されます。<br>

                            ３．フォローメール　自家発送とFBAで商品発送から1週間が経過すると送信されるメールです。</p>

                        <p>それぞれのメールのテンプレートは事前に用意されているのでMailzonに登録して初期設定を済ませれば上記合計5種類のメールが送信されるようになります。</p>
                    </div>
                </div>
                <div class="col-md-4 col-md-pull-8">
                    <img class="img-responsive" src="{% static 'images/lp/3mail-2.png'%}" alt="最大3つのサンクスメールを送信">
                </div>

            </div>
        </div>


        <div class="about-content">
            <div class="row animate-box">
                <div class="col-md-8 col-md-push-4">
                    <div class="desc">
                        <h3>FBAと自家発送でテンプレートを自動切り替え</h3>
                        <p>Mailzonはお客さんがFBAの商品を購入したのか、自家発送の商品を購入したのかを自動で判断し、注文ごとに自動でテンプレートを選択肢、文章の作成を行ってくれます。</p>

                        <p>手作業でやっていると<span style="color: #ff0000;"><strong>うっかり</strong></span>間違えてしまうこともありますが自動でやってくれるとそういうミスも起きないので安心ですね(^^)
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-md-pull-8">
                    <img class="img-responsive" src="{% static 'images/lp/fbamfn.png'%}" alt="FBAと自家発送でテンプレートを自動切り替え">
                </div>

            </div>
        </div>


        <div class="about-content">
            <div class="row animate-box">
                <div class="col-md-8 col-md-push-4">
                    <div class="desc">
                        <h3>サンクスメール送信除外設定</h3>
                        <p>
                            商品や配送などにトラブルがあったお客さんにサンクスメールは送らないで欲しい！Amazonをしているとそういうこともあるのでトラブルがあった[注文ID]をMailzonに登録すると、その注文はサンクスメール送信対象外にできます。</p>
                        <p>その他にもサンクスメールの送信を除外したい商品の [ASIN] を登録するとその商品の購入したお客さんにはサンクスメールを送信しない除外設定があります。</p>

                    </div>
                </div>
                <div class="col-md-4 col-md-pull-8">
                    <i class="glyphicon glyphicon-remove img-responsive"
                       style="text-align:center;font-size: 220px;" alt="サンクスメール送信除外設定"></i>
                </div>

            </div>
        </div>

        <div class="about-content">
            <div class="row animate-box">
                <div class="col-md-8 col-md-push-4">
                    <div class="desc">
                        <h3>初期設定は難しくない？</h3>
                        <p>初期設定はとても簡単です。マニュアルを見ながら<strong><span style="color: #ff0000;">5分</span></strong>程度で設定が完了します。
                        </p>

                        <p>設定ができたらきちんとメールが送られてくるかを確認して、本稼働を開始するだけ！</p>

                        <p>本稼働を開始すればその後はずっと放置していてもMailzonが働き続けてくれるのであなたは何もする必要がありません。</p>

                        <p><strong><span style="color: #ff0000;">自動化</span></strong>って素敵ですね♪</p>
                    </div>
                </div>
                <div class="col-md-4 col-md-pull-8">
                    <img class="img-responsive" src="{% static 'images/lp/setting.jpg'%}" alt="メルゾンの設定は難しくない？">
                </div>

            </div>
        </div>


        <div class="about-content">
            <div class="row animate-box">
                <div class="col-md-8 col-md-push-4">
                    <div class="desc">
                        <h3>Mailzonの利用料は？</h3>
                        <p class="lead"><strike>月額たったの<strong><span style="color: #ff0000;">500円</span></strong>です。</strike>モニター募集期間中のため<strong><span style="color: #ff0000;">無料</span></strong>です！</p>
                        <p>どれだけメールを送っても500円。時給に換算すると1,000円で働いた時のたった30分の金額です。</p>
                        <p>1日1分×30日の時給相当です。どれだけ効率化しても1日1分以内に縮めることは不可能ですよね？</p>

                        <p>メールを送らないと〜。とパソコンの前に座って、Amazonにログインして受注ページに移動する頃にはもう1分が経過してタイムアップです。</p>

                        <p>どう頑張っても人にできないことは機械に任せるのが得策です。空いた時間を使って人にしかできないリサーチや仕入先の開拓に時間を使いましょう(^o^)</p>
                    </div>
                </div>
                <div class="col-md-4 col-md-pull-8">
                    <img class="img-responsive" src="{% static 'images/lp/500yen.png'%}" alt="Mailzonの利用料は？">
                </div>

            </div>
        </div>
    </div>
</div>


<div id="fh5co-testimonial" class="fh5co-bg-section">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>お客様の声</h2>
                <p> 実際にMailzonを使い始めたお客様からは続々と嬉しいお言葉がよせられています。ここではそのほんの一部をご紹介します。
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-12 animate-box">
                        <div class="testimony">
                            <div class="inner text-center">
                                <img src="{% static 'images/lp/man-1.jpg'%}" alt="アマゾンで出品を始めたばかりで">
                            </div>
                            <blockquote>
                                <p>アマゾンで出品を始めたばかりで
                                    購入をされることはあったのですがなかなか評価をしてもらえず全然デビューが増えない状態が続いていましたしかしメルゾンを利用するようになってからはデビューがどんどん月始めるようになりました
                                    それと同時にカート獲得率もアップし受注がこれまでの 2倍に増えました 月額500円をあっという間に ペイできるので 使わないと 絶対損だと Amazon
                                    をやっている他の友達にも紹介しました
                                </p>
                                <p class="author"><cite>&mdash; 米田 耕一</cite></p>
                            </blockquote>
                        </div>
                    </div>
                    <div class="col-md-12 animate-box">
                        <div class="testimony">
                            <div class="inner text-center">
                                <img src="{% static 'images/lp/man-2.jpg'%}" alt="アマゾンで中国から輸入">
                            </div>
                            <blockquote>
                                <p>アマゾンで中国から輸入した商品を販売していると中にはどうしても品質の低いものが混ざっています そういう商品を手にしたお客さんはすぐに低い評価のレビューを
                                    つけてきますこれが原因でせっかく勢いが出てきたのに一気に受注が入らなくなったりということがこれまでに何度も続いていましたしかしメル損を使うようになってからはお客様が低い評価をつける前に問い合わせをしてくれるようになったので
                                    返品や交換などで対応ができるようになり 売上にブレーキがかからなくなりました
                                </p>
                                <p class="author"><cite>&mdash; 笹久保 一馬</cite></p>
                            </blockquote>
                        </div>
                    </div>
                    <div class="col-md-12 animate-box">
                        <div class="testimony">
                            <div class="inner text-center">
                                <img src="{% static 'images/lp/woman-1.jpg'%}" alt="Amazon に自分の商品を登録して販売">
                            </div>
                            <blockquote>
                                <p>Amazon に自分の商品を登録して販売しているのですが 商品レビューが一向に増えずに困っていました そんな時こちらのメールに出会いました
                                    メルゾンを利用するようになってからは商品のレビューがすぐにつくようになり 星の数でお客さんが検索をされるのか レビューがついた商品は
                                    突然売上が伸び始める傾向があります
                                    アマゾンではさくらでデビューすることなどが禁止されているので サンクスメールなどでお客さんから自発的にレビューをしてもらえるととても助かります
                                </p>
                                <p class="author"><cite>&mdash; 三谷 千鶴</cite></p>
                            </blockquote>
                        </div>
                    </div>
                    <div class="col-md-12 animate-box">
                        <div class="testimony">
                            <div class="inner text-center">
                                <img src="{% static 'images/lp/man-3.jpg'%}" alt="これまでもサンクスメールサービスを利用">
                            </div>
                            <blockquote>
                                <p>これまでもサンクスメールサービスを利用していたのですがそれはパソコンにインストールするタイプのものでした
                                    気が付くとパソコンがフリーズしていたり Windows
                                    のアップデートなどでログイン画面に戻っていたりすることがしばしばてんてんてん
                                    せっかく自動でメールを送信してくれているのにパソコンがきちんと動いているかを毎日チェックする必要があり余計な作業が増えてしまいました
                                    そこでクラウドで使えるサービスはないのかと思い探していたところ
                                    メルゾンを見つけました クラウドで24時間稼働なので 毎日パソコンのチェックをする必要もなくなり
                                    新しい商品のリサーチにあてられる時間が増えました
                                </p>
                                <p class="author"><cite>&mdash; 酒井 勇斗</cite></p>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="fh5co-faq">
    <div class="container">
        <h2>よくある質問。Q&amp;A</h2>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="panel-title">Q:サンクスメールはパソコンにインストールしないとダメ？</h5>
            </div>
            <div class="panel-body">
                A:クラウドサービスのためパソコンにインストールする必要はございません。
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="panel-title">Q:Macでも利用できる？</h5>
            </div>
            <div class="panel-body">
                A:はい、パソコンにインストールしないのでどんなパソコンからでもご利用いただけます。
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="panel-title">Q:スマホから利用できる？</h5>
            </div>
            <div class="panel-body">
                A:スマホ対応もしているのでスマホからメールの配信状況の確認や、テンプレートの文章の変更、設定の変更などを行うことが可能です。

            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="panel-title">Q:一度設定すれば、自動で評価依頼メールを送ってくれるということですか？</h5>
            </div>
            <div class="panel-body">
                A:はい、5分ほどの初期設定を行えば後は、何もする必要はありません。
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="panel-title">Q:メールの内容を変更したい場合はどうすればいいの？</h5>
            </div>
            <div class="panel-body">
                A:Mailzonにログイン後、「テンプレート」をクリックするとテンプレートの一覧が表示されます。編集したいテンプレートを選択して、中身を書き換えてください。
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="panel-title">Q:Amazon小口出品アカウントでも使えますか？</h5>
            </div>
            <div class="panel-body">
                A:MailzonはAmazon API（MWS）を使用するため大口出品者の方のみご利用いただけます。Amazonで本格的に販売をされる方の99%は大口出品をご契約しているので是非ご検討ください。
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="panel-title">Q:Amazonマルチチャネルで発送した場合もサンクスメールは配信されますか？</h5>
            </div>
            <div class="panel-body">
                A:いいえ、マルチチャネル発送分は対象外となり、サンクスメールは送信されません。
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="panel-title">Q:FBA/自家発送それぞれ何通メールを送れますか？</h5>
            </div>
            <div class="panel-body">
                A:1注文に対してFBAは2通、自家発送は3通となっています。
            </div>
        </div>


        <!--<p><strong>Note:</strong> 何と！今なら月額500円のMailzonが無料でご利用いただけます！<br>-->
        <!--これまでサンクスメールサービスを使っていなかった方、-->
        <!--サービスの乗り換えを検討されていた方、-->
        <!--ぜひぜひこの機会にMailzonをご利用ください。</p>-->
    </div>
</div>


&nbsp;


&nbsp;

&nbsp;


<div id="fh5co-started">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>無料モニター募集中！</h2>
                <p>現在サービスのブラッシュアップを行っております。</p>
                <p>一人でも多くの方にご利用いただき、皆様のお声を頂戴したく存じます。<br>
                    頂いたご意見をサービスに反映し、<br>
                    より一層良いサービスに改良していけるように開発者一同尽力させていただきます。
                </p>

                <p>※ 無料モニター受付は2018年6月31日までとさせていただきます。</p>
                </p>
            </div>
        </div>
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2">
                <form class="form-inline">
                    <div class="col-md-6 col-md-offset-3 col-sm-6">
                        <a href="{%url 'folopel:signup'%}">
                            <button type="submit" class="btn btn-default btn-block">無料モニター登録</button>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}


<!--<div id="fh5co-core-feature">-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="features">-->
<!--<div class="col-half animate-box" data-animate-effect="fadeInLeft">-->
<!--<div class="table-c">-->
<!--<div class="desc">-->
<!--<span>Try Our Awesome Stuff</span>-->
<!--<h3>Anyone can make there own Website</h3>-->
<!--<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,-->
<!--there live the blind texts. Separated they live in Bookmarksgrove right at the coast of-->
<!--the Semantics.</p>-->
<!--<p><a href="#" class="btn btn-lg btn-primary">Learn More</a></p>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-half-image-holder animate-box" data-animate-effect="fadeInRight">-->
<!--<img class="img-responsive" src="{% static 'images/samsungs6.png'%}" alt="samsung">-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<div id="fh5co-services" class="fh5co-bg-section">-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-md-4 col-sm-4 text-center">-->
<!--<div class="feature-center animate-box" data-animate-effect="fadeIn">-->
<!--<span class="icon">-->
<!--<i class="icon-eye"></i>-->
<!--</span>-->
<!--<h3>Retina Ready</h3>-->
<!--<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there-->
<!--live the blind texts. Separated they live in Bookmarksgrove</p>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-md-4 col-sm-4 text-center">-->
<!--<div class="feature-center animate-box" data-animate-effect="fadeIn">-->
<!--<span class="icon">-->
<!--<i class="icon-command"></i>-->
<!--</span>-->
<!--<h3>Fully Responsive</h3>-->
<!--<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there-->
<!--live the blind texts. Separated they live in Bookmarksgrove</p>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-md-4 col-sm-4 text-center">-->
<!--<div class="feature-center animate-box" data-animate-effect="fadeIn">-->
<!--<span class="icon">-->
<!--<i class="icon-power"></i>-->
<!--</span>-->
<!--<h3>Web Starter</h3>-->
<!--<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there-->
<!--live the blind texts. Separated they live in Bookmarksgrove</p>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<div id="fh5co-project">-->
<!--<div class="container">-->
<!--<div class="row animate-box">-->
<!--<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">-->
<!--<span>Want Some Cool Stuff</span>-->
<!--<h2>Our Project</h2>-->
<!--<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit-->
<!--ab aliquam dolor eius.</p>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="project-content">-->
<!--<div class="col-half">-->
<!--<div class="project animate-box" style="background-image:url({% static 'images/project-3.jpg'%});">-->
<!--<div class="desc">-->
<!--<span>Application</span>-->
<!--<h3>Project Name</h3>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-half">-->
<!--<div class="project-grid animate-box" style="background-image:url({% static 'images/project-5.jpg'%});">-->
<!--<div class="desc">-->
<!--<span>Illustration</span>-->
<!--<h3>Project Name</h3>-->
<!--</div>-->
<!--</div>-->
<!--<div class="project-grid animate-box" style="background-image:url({% static 'images/project-2.jpg'%});">-->
<!--<div class="desc">-->
<!--<span>Branding</span>-->
<!--<h3>Project Name</h3>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->


