{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}

{% block content %}



    <!--Header-area-->
    <header class="header-area overlay full-height relative v-center" id="home-page">
        <div class="absolute anlge-bg"></div>
        <div class="container">
            <div class="row v-center">
                <div class="col-xs-12 col-md-7 header-text">
                    <h2>Paypalに特化したステップメールサービス Folopel</h2>
                    <p>Folopel（フォロペル）を使えばPayPalの購入者に簡単にスッテプメールの送信が可能に！</p>
                    {#                    <a href="#" class="button white">Watch video</a>#}
                </div>
                <div class="hidden-xs hidden-sm col-md-5 text-right">
                    <div class="screen-box screen-slider">
                        <div class="item">
                            <img src={% static "images/screen-1.jpg" %} alt="">
                        </div>
                        <div class="item">
                            <img src={% static "images/screen-2.jpg" %} alt="">
                        </div>
                        <div class="item">
                            <img src={% static "images/screen-3.jpg" %} alt="">
                        </div>
                        <div class="item">
                            <img src={% static "images/screen-4.jpg" %} alt="">
                        </div>
                        <div class="item">
                            <img src={% static "images/screen-5.jpg" %} alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--Header-area/-->




    <section class="angle-bg sky-bg section-padding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div id="caption_slide" class="carousel slide caption-slider" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="item active row">
                                <div class="v-center">
                                    <div class="col-xs-12 col-md-6">
                                        <div class="caption-title" data-animation="animated fadeInUp">
                                            <h2>ステップメールって何？</h2>
                                        </div>
                                        <div class="caption-desc" data-animation="animated fadeInUp">
                                            <p>
                                                ステップメールとは商品を購入してくれた人にあらかじめ用意しておいたメールを定期的に送信し、追加で商品を購入してもらえるように誘導したり、サービスをもっと良く知ってもらい離脱率を低下させるために利用します。
                                            </p>
                                            <p>
                                                何もないところから新しい顧客を探してくるのは難しいですが、既に商品を購入してくれた人にリピートしてもらうのはずっとハードルが低くなります。
                                            </p>
                                            <p>
                                                つまり、ステップメールを有効に活用するとあなたのビジネスをもっと加速させられます。
                                            </p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <!--Feature-area-->
    <section class="gray-bg section-padding" id="service-page">
        <div class="container">
            <div class="row">

                <div class="col-xs-12 text-center">
                    <div class="page-title">
                        <h2>Folopel が選ばれる理由</h2>
                        <p>シンプルさと便利さを兼ね備えたあなたのためのサービス。</p>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-icon">
                            <img src={% static "images/cloud.png" %} style="width:170px" alt="">
                        </div>
                        <h3>Cloud</h3>
                        <p>クラウドサービスだからインストール不要！</p>
                        <p>パソコンが苦手な人こそFolopelがピッタリです。</p>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-icon">
                            <img src={% static "images/setting.png" %} style="width:170px" alt="">
                        </div>
                        <h3>Setting</h3>
                        <p>設定はPayPalからのメールをFolopelに転送するだけ！</p>
                        <p>転送されたメールを元に購入者の契約状況を確認し、メールの配信を行います。</p>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-icon">
                            <img src={% static "images/portfolio-icon-1.png" %} style="width:170px" alt="">
                        </div>
                        <h3>Template</h3>
                        <p>あなただけのオリジナルの文章でユーザーの心をキャッチ！</p>
                        <p>テンプレートを使ってメールを送信するので文章の作成は１度だけで済みます。</p>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-icon">
                            <img src={% static "images/replace.png" %} style="width:170px" alt="">
                        </div>
                        <h3>Replace</h3>
                        <p>メールごとに異なる情報をタグを使って置き換え！</p>
                        <p>例えば購入者名をメールごとに自動で置換します。</p>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-icon">
                            <img src={% static "images/timer.png" %} style="width:170px" alt="">
                        </div>
                        <h3>Mail Timer</h3>
                        <p>事前に決めた日付や時間に自動的にメールを自動で送信！</p>
                        <p>最適なタイミングで購入を促せます。</p>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-icon">
                            <img src={% static "images/portfolio-icon-6.png" %} style="width:170px" alt="">
                        </div>
                        <h3>Multi Platform</h3>
                        <p>どんなディバイスからでもアクセス可能！</p>
                        <p>PC・スマホ・タブレットからテンプレートの編集や送信履歴の確認ができます。</p>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-icon">
                            <img class="text-center" src={% static "images/support.png" %} style="width:170px" alt="">
                        </div>
                        <h3>Support</h3>
                        <p>購入者の契約状況をリアルタイムで確認！</p>
                        <p>購入者の決済エラーや解約時に自動でサポートメールを送信できます。</p>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-icon">
                            <img src={% static "images/block.png" %} style="width:170px" alt="">
                        </div>
                        <h3>Block</h3>
                        <p>商品の購入でトラブルがあった購入者には配信停止！</p>
                        <p>配信除外設定を行えます。</p>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-icon">
                            <img src={% static "images/api.png" %} style="width:170px" alt="">
                        </div>
                        <h3>API</h3>
                        <p>決済と連動したサービスの構築が可能！</p>
                        <p>開発者向けにはペイパル決済履歴を取得できるAPIを提供しています。</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Feature-area/-->

    <section class="price-area overlay section-padding" id="price-page">
        <div class="container">
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 text-center">
                    <div class="page-title">
                        <h2>価格</h2>
{#                        <p>0円で始められるお得なフリープランに対応。</p>#}
{#                        <p>Standard(スタンダード) Unlimited(アンリミテッド)プランをご検討の方も、まずはフリープランを１ヶ月間無料でお試しOK！</p>#}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
                    <div class="price-table">
                        <h3 class="text-uppercase price-title">Free</h3>
                        <hr>
                        <ul class="list-unstyled">
                            <li><strong class="amount"><span class="big">0</span>円</strong></li>
                            <li>有効期間：1ヶ月</li>
                            <li>送信メール件数：無制限</li>
                            <li>PayPal 決済履歴API：利用可能</li>
                            <li>メールシナリオ数：無制限</li>
                            <li>テンプレート数：無制限</li>
                            <li>サポートメール機能：対応</li>
                        </ul>
                        <hr>
                        <a href="#" class="button">無料登録</a>
                    </div>
                </div>
                <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
                    <div class="price-table active">
                        <span class="price-info"><span class="ti-crown"></span></span>
                        <h3 class="text-uppercase price-title">Standard</h3>
                        <hr>
                        <ul class="list-unstyled">
                            <li><strong class="amount"><span class="big">980</span>円</strong>/月</li>
                            <li>送信メール件数：2000件/月</li>
                            <li>メールシナリオ数：無制限</li>
                            <li>テンプレート数：無制限</li>
                            <li>サポートメール機能：対応</li>

                        </ul>
                        <hr>
                        <a href="#" class="button">購入</a>


                    </div>
                </div>
                <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
                    <div class="price-table">
                        <h3 class="text-uppercase price-title">Unlimited</h3>
                        <hr>
                        <ul class="list-unstyled">
                            <li><strong class="amount"><span class="big">1,980</span>円</strong>/月</li>
                            <li>送信メール件数：無制限</li>
                            <li>PayPal 決済履歴API：利用可能</li>
                            <li>メールシナリオ数：無制限</li>
                            <li>テンプレート数：無制限</li>
                            <li>サポートメール機能：対応</li>
                        </ul>
                        <hr>
                        <a href="#" class="button">購入</a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="gray-bg section-padding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
                    <div class="page-title">
                        <h2>お客様の声</h2>
                        <p>実際にフォロペルをご利用いただいたお客様の声をご紹介します。</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <div class="testimonials">
                    <div class="testimonial">
                        <div class="testimonial-photo">
                            <img src={% static "images/avatar-small-1.png" %} alt="">
                        </div>
                        <h3>田島 裕翔</h3>
                        <p>PayPalで商品を購入してくれた人のフォローをしたかったのですが、<br>
                            なかなかPayPalに対応しているサービスが無くこちらのサービスにたどり着きました。</p>
                        <p>シンプルで使いやすくてステップメールの作成に集中できます。</p>
                    </div>
                    <div class="testimonial">
                        <div class="testimonial-photo">
                            <img src={% static "images/avatar-small-2.png" %} alt="">
                        </div>
                        <h3>吉村　聡美</h3>
                        <p>ペイパルを利用したメール送信サービスは他にもあったんですがどれも設定が難しそうで<br>
                            パソコンが苦手な私には分からなかったのでこちらのサービスを選びました。 </p>
                        <p>ステップメールを送信するようになってリピートで商品を購入してくれたり他の商品を購入してくれる人が増えました！
                        </p>
                    </div>
                    <div class="testimonial">
                        <div class="testimonial-photo">
                            <img src={% static "images/avatar-small-3.png" %} alt="">
                        </div>
                        <h3>井上　真也</h3>
                        <p>
                            私は定期購読でサービスを提供しているのですが最近顧客の離脱率が目立っていたので<br>
                            ステップメールを使ってサービスの使い方や活用方法成功事例などを紹介することでお客の離脱率が半分になりました。</p>
                        <p>これもFolopelのおかげです！これで月1980円は非常に安いです！<br>お客様に１ヶ月長くサービスを利用してもらえるだけで利用料をペイできます。</p>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="sky-bg section-padding" id="free-trial">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
                    <div class="page-title">
                        <h2>お試し無料</h2>
                        <p>
                            Folopelを使ってどれくらい効果があるの？<br>
                            本当に作業が楽になるの？<br>
                        とまだ疑問や不安が残る方はまずご利用ください。</p>
                        <p>１ヶ月使ってみるとその使いやすさと効果が実感できます！</p>
                        <p>一度使い始めると必ず手放せなくなるはずです！</p>
                        <p>ご購入を検討中の方も是非こちらからご利用ください。</p>
                        <a href="#" class="button">お試し無料登録</a>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}