{% extends 'base.html' %}
%}
{% load staticfiles %}
{% load static %}

{% block content %}


    <section class="angle-bg sky-bg section-padding">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3>
                   {{ mailing.name }}

                </h3>
                {% if form.errors %}
                {% for field in form %}
                {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
                {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
                {% endfor %}
                {% endif %}

                <form method="post" class="padding-10" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_table }}

                    <input type="submit" class="btn btn-primary" value="保存">
                </form>

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4>特殊メール設定</h4>
                    </div>
                    <div class="panel-body">
                        <p>
                            送信除外IDは配信を除外したい顧客の「自動請求ID・個人設定ID」を入力します。空欄でも大丈夫です。<br>
                            例：「I-4DW8G19PVGJ0　I-FX7N5W8SPA0L」
                        </p>

                    </div>
                </div>


            </div>
        </div>
    </div>
</section>

{% endblock %}
