{% extends 'base.html' %}
%}
{% load staticfiles %}
{% load static %}

{% block content %}




    <section class="angle-bg sky-bg section-padding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3>メーリングリスト一覧</h3>
                        </div>
                        <div class="panel-body">
                            {{ objects }}

                            {% if messages %}
                                <ul class="messages">
                                    {% for message in messages %}
                                        <li {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>
                                            {{ message }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            <table class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>設定</th>
                                    <th>メーリングリスト名</th>
                                    <th>配信</th>
                                    <th>削除</th>
                                </tr>
                                </thead>
                                {% for object in object_list %}
                                    <tr>
                                        <td><a href="{% url 'folopel:mailing_list_edit' object.pk %}">設定</a></td>
                                        <td><a href="{% url 'folopel:template_list' object.pk %}">{{ object.name }}</a></td>
                                        <td>{% if object.stop == "0" %}
                                                有効
                                            {% else %}
                                                無効
                                            {% endif %}
                                        </td>
                                        <td><a href="{% url 'folopel:mailing_list_delete' object.pk %}">削除</a></td>

                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                        <div class="panel-footer">
                            <a href="{% url 'folopel:mailing_list_make' %}">
                                <button class="btn btn-primary">新規作成</button>
                            </a>
                        </div>

                    </div>



                </div>
            </div>
        </div>
    </section>

{% endblock %}


MODE_LIST = (
( '0','テストモード'),
( '1','本稼働'),
)

TYPE_LIST = (
( '1','定期購読'),
( '0','買い切り'),
)

STOP_LIST = (
( '1','停止'),
( '0','継続'),
)
