{% extends 'base.html' %}
%}
{% load staticfiles %}
{% load static %}

{% block content %}


    <section class="angle-bg sky-bg section-padding">
        <div class="container">
            <div class="row">


                <div class="col-xs-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3>メール送信履歴</h3>
                        </div>
                        <div class="panel-body">
                            <table class="table table-bordered table-striped">
                                <thead>



                                <tr>
                                    <th>送信日</th>
                                    <th>顧客</th>
                                    <th>メーリングリスト</th>
                                    <th>テンプレート</th>

                                </tr>
                                </thead>
                                {% for mail in mails %}
                                    <tr>


                                        <td>{{ mail.date_time }}</td>
                                        <td>{{ mail.customer }}</td>
                                        <td>{{ mail.mailing_list }}</td>
                                        <td>{{ mail.template }}</td>

                                    </tr>
                                {% endfor %}
                            </table>

                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>

{% endblock %}
