{% extends 'base.html' %}
%}
{% load staticfiles %}
{% load static %}

{% block content %}


    <section class="angle-bg sky-bg section-padding">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3>
                   {{ service.name }}

                </h3>
                {% if form.errors %}
                {% for field in form %}
                {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
                {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
                {% endfor %}
                {% endif %}

                <form method="post" class="padding-10" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_table }}

                    <input type="submit" class="btn btn-primary" value="保存">
                </form>


            </div>
        </div>
    </div>
</section>

{% endblock %}
