{% extends 'base.html' %}
%}
{% load staticfiles %}
{% load static %}

{% block content %}


    <section class="angle-bg sky-bg section-padding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3>サービス（商品）一覧</h3>
                        </div>
                        <div class="panel-body">
                            {% if messages %}
                                <ul class="messages">
                                    {% for message in messages %}
                                        <li {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>
                                            {{ message }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}

                            <table class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>サービス・商品名</th>
                                    <th>メーリングリスト</th>
                                    <th>削除</th>

                                </tr>
                                </thead>
                                {% for object in object_list %}
                                    <tr>
                                        <td><a href="{% url 'folopel:service_edit' object.pk %}">{{ object.name }}</a></td>
                                        <td>{{ object.mailing_list.name }}</td>
                                        <td><a href="{% url 'folopel:service_delete' object.pk %}">削除</a></td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                        <div class="panel-footer">
                            <a href="{% url 'folopel:service_make'%}">
                                <button class="btn btn-primary">新規作成</button>
                            </a>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>

{% endblock %}
