{% extends 'base.html' %}
%}
{% load staticfiles %}
{% load static %}

{% block content %}


    <section class="angle-bg sky-bg section-padding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">

                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3>初期設定</h3>
                        </div>
                        <div class="panel-body">
                            <!-- error message -->
                            {% if form.errors %}
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <div class="alert alert-danger">
                                            <strong>{{ error|escape }}</strong>
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                                {% for error in form.non_field_errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <!-- end error message -->


                            <!-- end error message -->
                            {% if messages %}
                                <ul class="messages">
                                    {% for message in messages %}
                                        <li {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>
                                            {{ message }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            <!-- end message -->


                            <!--　user filter -->
                            {% if user.id is object.pk %}
                                <p>設定方法は<a href={% url 'folopel:how_to' %} target="_blank">こちら</a>のページを御覧ください。</p>
                                <p>{{ deadline_message }}
                                    {%  if user.status == "0" %}<br>ご利用可能期限が近づきましたら<a href="setting.html">こちら</a>よりご購入をお願い致します。 {% endif %}

                                </p>


                                <form method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <table class="table">
                                        {{ form.as_table }}
                                    </table>
                                    <p>※ テストモードではご登録のメールアドレス宛にフォローメールが送信されます。</p>
                                    <p>※ 本稼働ではお客様にフォローメールが送信されます。</p>

                                    <input type="submit" class="btn btn-primary" value="保存">
                                </form>
                            {% else %}
                                このページへのアクセス権がありません。
                            {% endif %}
                            <!--　end user filter -->
                        </div>
                    </div>


                </div>

            </div>

        </div>
    </section>


    <section class="angle-bg sky-bg section-padding">
        <div class="container">


                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3>メール送信テスト</h3>
                    </div>
                    <div class="panel-body">
                        <!--　user filter -->
                        {% if user.id is object.pk %}
                            {% csrf_token %}
                            <table class="table">
                                <p>
                                    上記の設定を保存した後にメールが正常に送信されるか確認してください。</p>
                                <th><label>テストメール送信先メールアドレス:</label></th>
                                <td>{{ user.email }}</td>
                                <td><a href="{% url 'folopel:test_mail' %}">
                                    <button type="submit" class="btn btn-primary">送信</button>
                                </a></td>

                            </table>
                        {% else %}
                        {% endif %}
                        <!--　end user filter -->

                        <p>メールが送信できたら数日間ステタースを「テストモード」でご利用ください。<br>メールが正しく送信されていることが確認できればステータスを「本稼働」に変更してください。</p>
                    </div>
                </div>


        </div>
    </section>


{% endblock %}
