{% extends 'base.html' %}
%}
{% load staticfiles %}
{% load static %}

{% block content %}


    <section class="angle-bg sky-bg section-padding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3>{{ templates.0.mailing_list.name }} | テンプレート一覧</h3>
                        </div>
                        <div class="panel-body">
                            {% if messages %}
                                <ul class="messages">
                                    {% for message in messages %}
                                        <li {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>
                                            {{ message }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            <table class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>タイトル</th>
                                    <th>日後</th>
                                    <th>時</th>
                                    <th>分</th>
                                    <th>削除</th>
                                </tr>
                                </thead>
                                {% for template in templates %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'folopel:template_edit' template.pk %}">{{ template.title }}</a>
                                        </td>
                                        <td>{{ template.day }}</td>
                                        <td>{{ template.hour }}</td>
                                        <td>{{ template.min }}</td>
                                        <td><a href="{% url 'folopel:template_delete' template.pk %}">削除</a></td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                        <div class="panel-footer">
                            <a href="{% url 'folopel:template_make' pk %}">
                                <button class="btn btn-primary">新規作成</button>
                            </a>
                        </div>


                    </div>


                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h4>特殊メール設定</h4>
                        </div>
                        <div class="panel-body">
                            <p>
                                特殊メール設定では下記の4つのパターンの通知があった際に自動的にメールを送信できます。<br>通常のテンプレートと区別するために「何日後に送信しますか？」の項目を下記のように設定してください。
                            </p>

                            <table class="table">
                                <thead>
                                <th scope="col">特殊メール</th>
                                <th scope="col">何日後に送信しますか？</th>
                                </thead>


                                <tr>
                                    <td>決済エラー</td>
                                    <td>666</td>
                                </tr>
                                <tr>
                                    <td>決済エラーによる解約（支払停止）</td>
                                    <td>777</td>
                                </tr>

                                <tr>
                                    <td>管理者による解約</td>
                                    <td>888</td>
                                </tr>
                                <tr>
                                    <td>お客様による解約</td>
                                    <td>999</td>
                                </tr>
                            </table>

                            <p>※ 「何時に送信しますか？」「何分に送信しますか？」は何を入力しても問題ありません。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
