{% extends 'base.html' %}
%}
{% load staticfiles %}
{% load static %}

{% block content %}


    <section class="angle-bg sky-bg section-padding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>
                        {{ template.title }}

                    </h3>
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}

                    <form method="post" class="padding-10" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_table }}

                        <input type="submit" class="btn btn-primary" value="保存">
                    </form>

                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h4>自動変換タグ一覧</h4>
                        </div>
                        <div class="panel-body">
                            <ul>
                                <li>%メーリングリスト名%</li>
                                <li>%ユーザー名%</li>
                                <li>%ユーザーメールアドレス%</li>
                                <li>%購入者%</li>
                                <li>%購入者メールアドレス%</li>
                                <li>%サービス名%</li>
                                <li>%定期購読ID%</li>
                                <li>%契約日%</li>
                            </ul>
                            <p>上記のタグを文章中でご利用いただくことで各注文・顧客にあった内容が自動的に反映されます。<br>
                                タグは"%"から"%"までを入力してください。
                            <hr>
                            <p>(例)　 %購入者% 様 →　田中太郎 様</p>
                            </p>                    </div>
                    </div>

                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h4>特殊メール設定</h4>
                        </div>
                        <div class="panel-body">
                            <p>
                                特殊メール設定では下記の4つのパターンの通知があった際に自動的にメールを送信できます。<br>通常のテンプレートと区別するために「何日後に送信しますか？」の項目を下記のように設定してください。
                            </p>

                            <table class="table">
                                <thead>
                                <th scope="col">特殊メール</th>
                                <th scope="col">何日後に送信しますか？</th>
                                </thead>

                                <tr>
                                    <td>決済エラー</td>
                                    <td>666</td>
                                </tr>
                                <tr>
                                    <td>決済エラーによる解約（支払停止）</td>
                                    <td>777</td>
                                </tr>

                                <tr>
                                    <td>管理者による解約</td>
                                    <td>888</td>
                                </tr>
                                <tr>
                                    <td>お客様による解約</td>
                                    <td>999</td>
                                </tr>
                            </table>

                            <p>※ 「何時に送信しますか？」「何分に送信しますか？」は何を入力しても問題ありません。</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

{% endblock %}
