{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}


{% block content %}
    <section class="angle-bg sky-bg section-padding">


        <div class="container">
            <div class="row col-xs-12">
                <div class="row">


                    <h2>テストメール送信結果</h2>

                    {% if messages %}


                        <ul class="messages">
                            {% for message in messages %}
                                <p {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>
                                    {{ message }}
                                </p>
                            {% endfor %}
                        </ul>
                        {% for message in messages %}

                            {% if message.tags == "success" %}

                                <p>メールが送信・受信できているかご利用のメールボックスに移動してご確認ください。<br>
                                    <a href="https://gmail.com">Gmail</a> | <a
                                            href="https://jp.mg5.mail.yahoo.co.jp/">Yahoo
                                        Mail</a> に移動する
                                </p>
                            {% endif %}
                        {% endfor %}


                    {% endif %}



                    {% for message in messages %}

                        {% if "danger" in message.tags %}

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3>解決方法</h3>
                                </div>
                                <div class="panel-body">
                                    <ul>
                                        <li>メールアドレスとパスワードが一致しているかを確認する。</li>
                                        <li>Gmailの場合「ログインとセキュリティー」から「信頼性の低いアプリからのログイン」を設定する。</li>
                                        <li>Gmailの場合は不正アクセスで弾かれていないかを確認する。</li>
                                        <li>独自ドメインのメールをご利用の場合はSSL/TSLの設定をOFFにしてポートを変更する。</li>
                                    </ul>
                                </div>
                            </div>






                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4>メールアドレスとパスワードが一致しているかを確認する。</h4>
                                </div>
                                <div class="panel-body">
                                    <p>ご利用のメールサービスで今ご入力いただいたメールアドレスとパスワードでログインができるかをご確認ください。</p>

                                </div>
                            </div>



                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4>Gmailの場合「ログインとセキュリティー」から「信頼性の低いアプリからのログイン」を設定する。</h4>

                                </div>
                                <div class="panel-body">
                                    <p>※重要：Gmailの場合は「<a
                                            href="https://myaccount.google.com/intro/security?hl=ja">ログインとセキュリティ</a>」の一番下にある「安全性の低いアプリの許可:
                                        無効 」を有効にしてください。</p>
                                    <img src="{% static 'images/how_to/amazon_thanks_mail_mailzon_how_to_use-7.png' %}"
                                         class="img-responsive thumbnail"
                                         alt="Amazonサンクスメール送信テスト2 Mailzon">

                                </div>
                            </div>



                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4>Gmailの場合は不正アクセスで弾かれていないかを確認する。</h4>
                                </div>
                                <div class="panel-body">
                                    <p>
                                        Gmailの場合初めて利用するPCやアプリからのログインがブロックされます。「不正なログインがブロックされました」というメールが届いているので、ブロックを解除してください。先程の「<a
                                            href="https://myaccount.google.com/intro/security?hl=ja">ログインとセキュリティ</a>」の下の方にある「最近使用した端末」から確認できます。ここで「はい、心当たりがあります」を選択します。

                                        <img src="{% static 'images/how_to/amazon_thanks_mail_mailzon_how_to_use-8.png' %}"
                                             class="img-responsive thumbnail"
                                             alt="Amazonサンクスメール送信テスト2 Mailzon">
                                    <p>
                                        ※複数のGmailアカウントにログインしている場合は別のアカウントの画面が表示されている場合あります。現在ログインしているアカウントがメール送信用のアカウントになっているかご確認ください。
                                    </p></div>
                            </div>





                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4>独自ドメインのメールをご利用の場合はSSL/TSLの設定を利用しない場合の設定を試す。</h4>
                                </div>
                                <div class="panel-body">
                                    <p>
                                        SSL/TSLを一部のメールサーバーでご利用いただけない場合がございます。その場合はSSL/TSLの初期設定からチェックを外して、ポート番号を変更してください。</p>

                                    <h5>サーバーでの設定参考表</h5>
                                    <table class="table">
                                        <tr>
                                            <td>サービス</td>
                                            <td>ホスト名</td>
                                            <td>SSL/TSL</td>
                                            <td>ポート</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="https://www.xserver.ne.jp/manual/man_mail_setting.php">Xserver</a>
                                            </td>
                                            <td>sv***.xserver.jp</td>
                                            <td>OFF</td>
                                            <td>587</td>
                                        </tr>
                                        {#                                        <tr>#}
                                        {#                                            <td>サービス</td>#}
                                        {#                                            <td>ホスト名</td>#}
                                        {#                                            <td>SSL/TSL</td>#}
                                        {#                                            <td>ポート</td>#}
                                        {#                                        </tr>#}
                                    </table>
                                </div>
                            </div>


                        {% endif %}

                    {% endfor %}
                    <p><a href="{% url 'folopel:setting' user.id %}">初期設定へ</a></p>
                </div>
            </div>


        </div>
    </section>




{% endblock %}
