{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}


{% block content %}
    <section class="angle-bg sky-bg section-padding">

        <div class="container">
            <div class="row col-xs-12">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">


                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h2>パスワード再発行/再設定</h2>

                            </div>
                            <div class="panel-body">
                                <!-- Start Sign In Form -->
                                <form action="" class="fh5co-form animate-box" data-animate-effect="fadeIn"
                                      method="post">{% csrf_token %}

                                    <div class="form-group">
                                        <label for="id_email" class="sr-only">メールアドレス</label>
                                        <input type="email" class="form-control" name="email" id="id_email"
                                               placeholder="メールアドレス" autocomplete="off">
                                    </div>
                                    <div class="form-group">
                                        <p><a href="{% url 'folopel:login' %}">ログイン</a> or <a
                                                href="{% url 'folopel:signup' %}">無料登録</a></p>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="再設定メール送信" class="btn btn-primary">
                                    </div>
                                </form>
                                <!-- END Sign In Form -->
                            </div>
                        </div>


                    </div>
                </div>

            </div>

        </div>
    </section>
{% endblock %}
