{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}


{% block content %}
    <section class="angle-bg sky-bg section-padding">


        <div class="container">
            <div class="row col-xs-12">
                <div class="col-md-6 col-md-offset-3">


                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h2>Folopelにログイン</h2>
                        </div>
                        <div class="panel-body">
                            <!-- Start Sign In Form -->
                            <form action="" method="post" class="fh5co-form animate-box" data-animate-effect="fadeIn">
                                {% csrf_token %}
                                {% if form.errors %}
                                    <p class="alert alert-danger">メールアドレスかパスワードが間違っています。</p>
                                    <p class="alert alert-warning"><a href="{% url 'folopel:forgot' %}">パスワードを忘れた方はこちら</a>
                                    </p>

                                {% endif %}

                                {% if messages %}
                                    <ul class="messages">
                                        {% for message in messages %}
                                            <li {% if message.tags %}
                                                class="alert alert-{{ message.tags }}" {% endif %}>
                                                {{ message }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}

                                <div class="form-group">
                                    <label for="id_username" class="sr-only">メールアドレス</label>
                                    <input type="text" class="form-control" name="username" id="id_username"
                                           placeholder="メールアドレス"
                                           autocomplete="off">
                                </div>
                                <div class="form-group">
                                    <label for="id_password" class="sr-only">パスワード</label>
                                    <input type="password" class="form-control" name="password" id="id_password"
                                           placeholder="パスワード"
                                           autocomplete="off">
                                </div>
                                <div class="form-group">
                                    <label for="remember"><input type="checkbox" id="remember">ログイン状態を保持する</label>
                                </div>
                                <div class="form-group">
                                    <p><a href="{% url 'folopel:signup' %}">無料登録</a> | <a
                                            href="{% url 'folopel:forgot' %}">パスワードを忘れたときはこちら</a>
                                    </p>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="ログイン" class="btn btn-primary">
                                </div>
                            </form>
                            <!-- END Sign In Form -->
                        </div>
                    </div>


                </div>
            </div>

        </div>
    </section>


{% endblock %}

