{% extends 'base.html' %}

{% block content %}



    <section class="angle-bg sky-bg section-padding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    {% for field, errors in form.errors.items %}
                        {% for error in errors %}
                            <p class="alert alert-danger">{{ error }}</p>
                        {% endfor %}
                    {% endfor %}

                    <div class="panel panel-primary">

                        <div class="panel-heading">
                            <h2>パスワード再設定</h2>

                        </div>
                        <div class="panel-body">
                            <h3>新しいパスワードを入力してください。</h3>
                            {% if validlink %}
                                <form method="post">
                                    {% csrf_token %}
                                    <table class="table">
                                        <tr>
                                            <td>新しいパスワード</td>
                                            <td>{{ form.new_password1 }}</td>
                                        </tr>
                                        <tr>
                                            <td>新しいパスワードの再入力</td>
                                            <td>{{ form.new_password2 }}</td>
                                        </tr>


                                    </table>


                                    <p>パスワードは半角英数字8文字以上で入力してください。</p>
                                    <button class="btn btn-primary" type="submit">再設定</button>
                                </form>
                            {% else %}
                                <p>
                                    すでにパスワードが使用されている可能性があるため、パスワードリセットリンクが無効になりました。
                                    新しいパスワードリセットを<a href="{% url 'folopel:password_reset' %}">リクエスト</a>してください。
                                </p>
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- END .gtco-services -->


{% endblock %}