{% extends 'folopel/base.html' %}

{% block content %}

<section class="angle-bg sky-bg section-padding">
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 gtco-heading text-center">
                <h2>パスワード再設定フォーム</h2>

                <form method="post">
                    {% csrf_token %}
                    <p>
                        ご登録のメールアドレスを入力してください。
                    </p>
                    メールアドレス：{{ form.email }}
                    <button type="submit">送信</button>
                </form>

            </div>
        </div>
    </div>
</section>
<!-- END .gtco-services -->


{% endblock %}