{% extends 'base.html' %}

{% block content %}



<section class="angle-bg sky-bg section-padding">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">



                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h2>パスワード再設定完了</h2>
                    </div>
                    <div class="panel-body">
                        <p>
                            パスワードの再設定ができました。ログインページより<a href="{% url 'folopel:login' %}">ログイン</a>してください。
                        </p>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>
<!-- END .gtco-services -->


{% endblock %}