{% extends 'base.html' %}

{% block content %}


<section class="angle-bg sky-bg section-padding">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">




                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h2>パスワード再設定用メール送信完了</h2>
                    </div>
                    <div class="panel-body">
                        <p>
                            アカウントが存在する場合はメールアドレス宛に、パスワードの設定手順をメールでお知らせ致しました。
                            メールが届かない場合は、迷惑メールフォルダをご確認ください。
                        </p>
                        <p><a href="https://gmail.com">Gmailへ</a></p>
                    </div>
                </div>




            </div>

        </div>
    </div>
</section>
<!-- END .gtco-services -->


{% endblock %}