{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}


{% block content %}
    <section class="angle-bg sky-bg section-padding">

        <div class="container">

            <div class="row">
                <div class="col-md-6 col-md-offset-3">


                    <!-- Show error message -->
                    {% if form.errors %}
                        {% for field in form %}

                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}

                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <!-- end Show error message -->

                    <!-- message -->
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                <li {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>
                                    {{ message }}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <!-- end message -->


                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h2>無料登録<br>Folopel（フォロペル）</h2>
                        </div>
                        <div class="panel-body">
                            <!-- Start Sign In Form -->
                            <form action="" data-animate-effect="fadeIn" method="post">
                                {% csrf_token %}

                                <!--<div class="form-group">-->
                                <!--<label for="id_username" class="sr-only">名前</label>-->
                                <!--<input type="text" class="form-control" name="username" id="id_username" placeholder="名前" autocomplete="off">-->
                                <!--</div>-->
                                <div class="form-group">
                                    <label for="id_email" class="sr-only">メールアドレス</label>
                                    <input type="email" class="form-control" name="email" id="id_email"
                                           placeholder="メールアドレス"
                                           autocomplete="off">
                                </div>
                                <div class="form-group">
                                    <label for="id_password1" class="sr-only">パスワード</label>
                                    <input type="password" class="form-control" name="password1" id="id_password1"
                                           placeholder="パスワード"
                                           autocomplete="off">
                                </div>
                                <div class="form-group">
                                    <label for="id_password2" class="sr-only">パスワードを再入力</label>
                                    <input type="password" class="form-control" name="password2" id="id_password2"
                                           placeholder="パスワードを再入力"
                                           autocomplete="off">
                                </div>
                                <div class="form-group">
                                    <label for="remember"><input type="checkbox" id="remember">ログイン状態を保持する</label>
                                </div>
                                <div class="form-group">
                                    <p>既にアカウントをお持ちですか？ <a href="{% url 'folopel:login' %}">ログイン</a></p>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="無料登録" class="btn btn-primary">
                                </div>
                            </form>
                            <!-- END Sign In Form -->
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </section>
{% endblock %}
